/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORPS DU DOCUMENT */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 5px;
    background-color: #f8f9fa;
}

/* CONTENU PRINCIPAL */
#main-content,
#container {
    width: 90% !important;
    margin: 60px auto 40px auto; /* 60px pour compenser la navbar */
    padding: 2em;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    font-size: 5px;
}

/* TITRES */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* TABLEAU & ALERTES */
.table {
    margin-top: 20px;
}

.alert {
    margin-top: 20px;
}

/* INFOS SEMESTRE / VACANCES */
.semestre-info h5,
.vacances-info h5 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.semestre-info div,
.vacances-info div {
    margin-bottom: 0.3rem;
}

hr {
    border-top: 1px solid #ccc;
}

/* TOASTS */
.toast {
    visibility: hidden;
    max-width: 300px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 0.7;
}

.toast.success {
    background-color: rgba(0, 128, 0, 0.7); /* Vert transparent */
}

.toast.error {
    background-color: rgba(255, 0, 0, 0.7); /* Rouge transparent */
}
