body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

#container {
    max-width: 50vw;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
}

.alert {
    margin-top: 20px;
}

.semestre-info h5,
.vacances-info h5 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

hr {
    border-top: 1px solid #ccc;
}

.semestre-info div,
.vacances-info div {
    margin-bottom: 0.3rem;
}
