body {
    margin-left: 200px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #34495e;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: lightsteelblue;
    color: #fff;
}

h1 {
    text-align: center;
    color: white;
}


img{
    width:80px;
    height:80px;
    padding: 5%;
    margin-left: 25%;

}

ul {
    list-style: none;
    padding: 0;
    align-items: center;
    margin-top: 4em;
}

.element_menu {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.element_menu a {
    color: white;
    text-decoration: none;
}

ul li:hover {
    background-color: #34495e;
}



#deconnexion {
    position: absolute;
    align-content: center;
    bottom: 20px;
    right: 20px;
    background-color: #5dade2;
    padding: 10px;
    border-radius: 20px;
}






