* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#menu {
    position: fixed;
    top: 0; left: 0;
    width: 11%;
    height: 100vh;
    z-index: 9999;
}

#main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 11%;
    min-height: 100vh;
    padding: 2em;
    box-sizing: border-box;
}

.toast {
    visibility: hidden;
    max-width: 300px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 0.7;
}

.toast.success {
    background-color: rgba(0, 128, 0, 0.7); /* Vert transparent */
}

.toast.error {
    background-color: rgba(255, 0, 0, 0.7); /* Rouge transparent */
}

